<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_21_Classes.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Create JobPosting Class (1.21.1)

In [ ]:
# Create the JobPostings class in this code cell

In [ ]:
# Code Needed
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York')

---

## ðŸŸ¨ Convert to Dictionary (1.21.2)

In [ ]:
# Create the JobPostings class in this code cell

In [ ]:
# Code Needed
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)

---

## ðŸŸ¥ Compare Job Salaries (1.21.3)

In [ ]:
# Create the JobPostings class in this code cell

In [ ]:
# Code Needed
job1 = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job2 = JobPosting('Data Analyst', 'Data Driven Co', 'San Francisco', 100000)

---