<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/1_28_Matplotlib Intro.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## ðŸŸ© Simple Line Plot (1.28.1)

In [ ]:
# Code Needed
months = ['January', 'February', 'March', 'April']
postings = [120, 150, 100, 130]

---

## ðŸŸ¥ Bar Chart (1.28.2)

In [ ]:
# Code Needed
job_titles = ['Data Analyst', 'Data Scientist', 'Data Engineer']
postings = [50, 75, 60]

---