<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_18_Matplotlib Box Plots.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
# Importing Libraries
import ast
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

## ðŸŸ© Data Scientist Hourly Salary Box Plot (2.18.1)

---

## ðŸŸ¨ Comparison of Hourly Salaries for Data Analyst (2.18.2)

In [ ]:
# Code Needed
countries = ['United States', 'Canada']

---

## ðŸŸ¥ Comparison of Hourly Salaries in Germany (2.18.3)

In [ ]:
# Code Needed
job_titles = ['Data Analyst', 'Data Engineer', 'Data Scientist']

---