<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Python_Data_Analytics_Course/blob/main/4_Problems/2_20_Seaborn Intro.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [ ]:
# Importing Libraries
import ast
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt  

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])
df['job_skills'] = df['job_skills'].apply(lambda x: ast.literal_eval(x) if pd.notna(x) else x)

## ðŸŸ© Top Companies Bar Plot (2.20.1)

---

## ðŸŸ¨ Data Scientist Salary Histogram (2.20.2)

---

## ðŸŸ¨ Data Roles Salary Box Plot (2.20.3)

In [ ]:
# Code Needed
job_titles = ['Data Analyst', 'Data Engineer', 'Data Scientist']

---

## ðŸŸ¨ Salary Distribution for United States (2.20.4)

---